<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Aseem Bansal</title>

        <link rel="stylesheet" href="bower_installed/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bower_installed/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="assets/stylesheet/index.css">
    </head>

    <script type="text/template" id="icon-template">
        <a href="<%=href%>" class="icon">
            <% if (iconClass) { %>
                <i class="<%=iconClass%>"></i>
            <% } else { %>
                <img src="<%=iconUrl%>" class="img-responsive">
            <% } %>
        </a>
    </script>

    <body>


        <img src="https://avatars0.githubusercontent.com/u/4127841?v=3&s=120"
             class="img-circle img-responsive center-block">
        <div class="text-center" id="name">Aseem Bansal</div>
	<div class="text-center intro">These days I spend more time at <a href="https://medium.com/@asmbansal2">medium</a></div>
	<div class="text-center intro">If you are feeling really generous you can always use <a href="https://www.paypal.me/AseemBansal">PayPal</a></div>

        <div id="icons-current"></div><br/>
        <div id="icons"></div>


        <script src="bower_installed/jquery/js/jquery.min.js"></script>
        <script src="bower_installed/underscore/js/underscore-min.js"></script>
        <script src="bower_installed/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/index.js"></script>
    </body>
</html>
